.bgGirl{
    background: url(../../../assets/images/girl.jpeg) no-repeat center;
    background-size: cover;
}
.bgBlack{
    background: url(../../../assets/images/black.jpeg) no-repeat center;
    background-size: cover;
}